<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <title>遍历数组</title>
</head>
<body>
    <div id="app">
        <table class="table table-striped table-bordered text-center">
            <tr v-for="user in users">
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.age}}</td>
            <tr/>
        </table>
        <h3>有标识的数组表格</h3>
        <table class="table table-striped table-bordered text-center">
            <tr v-for="(user,index) in users">
                <td>{{index+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.age}}</td>
            <tr/>
        </table>
    </div>
    <div id="app1">
        <table class="table table-striped table-bordered text-center">
            <tr v-for="(value,key,index) in user">
                <td>{{index+1}}</td>
                <td>{{key}}</td>
                <td>{{value}}</td>
            <tr/>
        </table>
    </div>
</body>
</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    var v = new Vue({
        el:"#app",
        data:{
            users:[
                {name:'张三',gender:'男',age:22},
                {name:'李四',gender:'女',age:33},
                {name:'王五',gender:'男',age:21},
                {name:'赵六',gender:'女',age:44}
            ]
        }
    })
    var v1 = new Vue({
        el:"#app1",
        data:{
            user:
                {name:'张三',gender:'男',age:22}

        }
    })
</script>